		<article>
			<div id ="main" class="container">

				<div id="filtertmenu">
					<h1>動画の絞込</h1>

					<div class="row">
						<div class="col-lg-3 col-xs-3 col-md-3">
							<div class="field switch filter">
								<label class="cb-enable selected"><span>On</span></label>
								<label class="cb-disable"><span>Off</span></label>
								<input type="checkbox" id="checkbox" class="checkbox" name="field1" />
							</div>
						</div>
						<div class="col-lg-3 col-xs-3 col-md-3">
							<div class="field switch filter">
								<label class="cb-enable selected"><span>On</span></label>
								<label class="cb-disable"><span>Off</span></label>
								<input type="checkbox" id="checkbox" class="checkbox" name="field2" />
							</div>
						</div>
						<div class="col-lg-3 col-xs-3 col-md-3">
							<div class="field switch filter">
								<label class="cb-enable selected"><span>On</span></label>
								<label class="cb-disable"><span>Off</span></label>
								<input type="checkbox" id="checkbox" class="checkbox" name="field3" />
							</div>
						</div>
						<div class="col-lg-3 col-xs-3 col-md-3">
							<div class="field switch filter">
								<label class="cb-enable selected"><span>On</span></label>
								<label class="cb-disable"><span>Off</span></label>
								<input type="checkbox" id="checkbox" class="checkbox" name="field4" />
							</div>
						</div>
					</div>
				</div>

				<div id="sortmenu">
					<h1>動画のソート</h1>
				</div>

				<div id="contents">
					<h1>動画の一覧</h1>
				</div>

				<div id="pagenav">
					<h1>ページナビ</h1>
				</div>

			</div>
		</article>