		<footer>
			<div id="footer-bottom" class="container">
				<div class="footer-top clearfix">
					<div class="one-third clearfix">
						<h2>Sitemap</h2>
						<p><a>Home</a></p>
						<p><a>Girls</a></p>
						<p><a>Tags</a></p>
						<p><a>Favourite</a></p>
					</div>
					<div class="one-third">
					</div>
					<div class="one-third last">
					</div>
				</div>
			</div>
		</footer>