
		<header>
			<div class="container">


				<div id="menu-main">

						<ul class="menu">

							<li class="toplogo" onclick="window.location = '/';" style="cursor:pointer;">
								<i class="glyphicon glyphicon-home"></i>
							</li>
							<li id="fat-menu" class="dropdown">
								<a href="#">
									Girls<b class="caret"></b>
								</a>
								<ul>
									<li><a href="#">A</a></li>
									<li><a href="#">B</a></li>
									<li><a href="#">C</a></li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="#">Tags</a>
							</li>
							<li class="menu-item">
								<a href="#">Favourite</a>
							</li>

							<li id="submenu">
								<div id="topSearch">
									<div class="search">
										<form method="get" class="searchform" id="searchform-1" action="http://subtlepatterns.com/">
											<div>
												<input class="searchtext" name="s" id="searchtext-1" value="search" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" type="text">
												<input value="Go" class="searchsubmit" id="searchsubmit-1" type="submit">
											</div>
										</form>
									</div><!-- search -->
								</div>
							</li>



						</ul>
				</div>
			</div>
		</header><!-- header -->