		<header>
			<div class="container">


				<div id="menu-main">
						<ul class="menu">

							<li class="toplogo" onclick="window.location = '/';" style="cursor:pointer;">
							</li>
							<li id="fat-menu" class="menu-item dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									女優<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">A</a></li>
									<li><a href="#">B</a></li>
									<li class="divider"></li>
									<li><a href="#">C</a></li>
								</ul>
							</li>
							<li class="menu-item">
								<a href="#">カテゴリー</a>
							</li>
							<li class="menu-item">
								<a href="#">お気に入り</a>
							</li>

							<li id="submenu">
								<div id="topSearch">
									<div class="search">
										<form method="get" class="searchform" id="searchform-1" action="http://subtlepatterns.com/">
											<div>
												<input class="searchtext" name="s" id="searchtext-1" value="検索ワード" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" type="text">
												<input value="Go" class="searchsubmit" id="searchsubmit-1" type="submit">
											</div>
										</form>
									</div><!-- search -->
								</div>
							</li>



						</ul>
				</div>
			</div>
		</header><!-- header -->